pre {
    background-color: #EFF0F1;
}

img.banner {
    padding-top: 0px !important;
    width: 100% !important; /* you can use % */
    height: auto !important;
}

nav > span > a {
    text-decoration: none;
    color: black;
}

.post-row {
    padding-bottom: 20px;
}

.blog-image {
    max-height: 400px;
}

.section-title {
    padding-left: 20px;
}

.mypost {
    display: inline-block;
    text-align: left;
}

.comment {
    padding-left: 10px;
}

article {
    height: 100%;
    min-height: 100%;
    padding-bottom: 200px;
}


.post-title {
    font-size: 30px;
    color: black;
    padding-top: 25px;
}

.fa-comment-o, .fa-heart-o {
    color: gray;
    font-family: 'Open Sans', sans-serif;
}

.likes-icon, .views-icon, .comments-icon {
    display: inline;
}

.likes-icon, .views-icon, .comments-icon {
    margin-right: 8px;
}

.fa-heart, .fa-comment, .fa-eye {
    margin-right: 4px;
}

.like-button {
    transition: all 0.5s ease;
    color: black;
}

.like-button:hover {
    color: red;
}



