html, body, section, main {
    height: 100%;
}

#home {
    background-color: #292929;
}

.vertical-center {
    min-height: 100vh; /* These two lines are counted as one :-)       */
    min-width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover
{
     color: black;
     text-decoration: none;
     cursor: pointer;
}

a, h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif !important;
}

.bottom-row {
    padding-top: 50px;
}
.navbar-dark {
    background-color: black !important;
}

.navbar-nav > li > a {
    color: rgba(255,255,255,1) !important;
    font-family: 'Open Sans', sans-serif !important;
}

img {
    padding-top: 5px;
    width:200px; /* you can use % */
    height: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    height: 18rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: 0.3s;
    padding-right: 10px;
}

.card-body {
    padding-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0, 1);
}

.card:before {
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 18rem;
	background: rgba(100,0,0,0.2);
	border-radius: 0px;
	transition: all 1s ease;
}

.card:hover:before {
	width: 100%;
}

.card:hover:after {
    width: 100%;
    font-size: 2rem;
}

#me-card:hover:after {
    content: 'ABOUT';
}

#projects-card:hover:after {
    content: 'PROJECTS';
}

#blog-card:hover:after {
    content: 'BLOG';
}

#github-card:hover:after {
    content: 'GITHUB';
}

#hobby-card:hover:after {
    content: 'HOBBIES';
}

#person-card:hover:after {
    content: 'SIGN UP';
}

.my-cards {
    padding-top: 100px;
}
/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}