{%  extends 'base.html' %}

{%  block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card align-items-center">
                <div class="card-body">
                    <h2 class="card-title">Log In</h2>
                    <hr>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button class="btn-success" type="submit">Login</button>
                    </form>
                </div>
                <p>Don't have an account? <a href="/signup/">Register</a></p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{%  endblock %}
