.background-image {
    background-image: none;
    -webkit-filter: none;
    filter: none;
    background-color: white !important;
}

.all-posts {
    margin-bottom: 200px;
}

.post-row p {
    color: black;
}

pre {
    background-color: #EFF0F1;
}

img.banner {
    padding-top: 0px !important;
    width: 100% !important;
    /* you can use % */
    height: auto !important;
}

nav>span>a {
    text-decoration: none;
    color: black;
}

.post-row {
    padding-bottom: 20px;
}

.blog-image {
    max-height: 400px;
}

.section-title {
    padding-left: 20px;
}

.blog-post-content {
    display: inline-block;
    text-align: left;
    color: black;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

article {
    height: 100%;
    min-height: 100%;
    padding-bottom: 200px;
}

.page-title {
    color: black;
}

.post-title {
    font-size: 30px;
    color: black;
    padding-top: 25px;
}

.fas {
    color: black;
}

.views,
.likes,
.comments {
    display: inline-block;
    margin-right: 1vh;
}

.views-icon,
.views-count {
    display: inline-block;
}

.likes-icon,
.likes-count {
    display: inline-block;
}

.comments-icon,
.comments-count {
    display: inline-block;
}

.like-button {
    transition: all 0.5s ease;
    color: black;
}

.like-button:hover {
    color: red;
}

.liked-button {
    color: red;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
    cursor: pointer;
}