{%  extends 'base.html' %}

{%  block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="mypost">
                    <h1><a href="/blog/{{ post.id }}/">{{  post.title }}</a></h1>
                    <p>Category: {{  post.topic }}</p>
                    <p>By <strong>{{  post.author }}</strong>, {{  post.published_date }}</p>
                    <p>
                        {{ post.text|safe }}
                    </p>
                    <hr>
                    <h4>Comments</h4>
                    {%  for comment in comments %}
                        {%  if comment.post.id == post.id %}
                            <p>By <strong>{{  comment.author }}</strong>, {{  comment.published_date }}</p>
                            <p>{{  comment.text|safe }}</p>
                            <hr>
                        {%  endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{%  endblock %}