{% extends 'base.html' %}

{% load static %}
{% block content %}
<section id="about-me-text">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h1 class="page-title">About Me</h1>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row w-100">
            <div class="col-md-12 text-center">
                <img class="profile-pic" src="{% static 'personal/img/me.jpg' %}" alt="Me">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>Hi! I'm Ed Cernera and I'm a data engineer and backend developer
                    based out of central New Jersey. I enjoy building these small web apps in Django
                    for work (tied to data pipelines) and for my personal projects. I'm currently working
                    on a handful of Python projects so I can populate the
                    <a href="{%  url 'projects:projects' %}">Projects</a> section of my website with some
                    non-NDA work! Stay tuned!</p>
                <p> - Ed Cernera</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<br />
<section id="about-my-things">
    <div class="container-fluid">
        <div class="row">
            <div class="col order-last text-center">
                <h2>Current Favorite Song</h2>
                <iframe src="https://open.spotify.com/embed/track/0bXxKkYJNxOqHjeOrYanvS" width="300" height="80"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}