{% extends 'base.html' %}

{% load static %}
{% block content %}
<section id="about-me-text">
    <div class="container-fluid">
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h1 class="page-title">About Me</h1>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row w-100">
            <div class="col-md-12 text-center">
                <img class="profile-pic" src="{% static 'personal/img/me.jpg' %}" alt="Me">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <p>Hi! I'm Ed Cernera and I'm a Full Stack Engineer
                    born and raised in central New Jersey. I enjoy working on full stack analytics pipelines in
                    Python, JavaScript, and Scala. For the last 3 years I've been working as a Full Stack Data
                    Engineer, using the Apache Big Data Stack (Hadoop, Spark, Hive) to productize and package data
                    science solutions for clients, then building interactive web apps in Angular/Django.</p>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
<br />
<section id="about-my-things">
    <div class="container-fluid">
        <div class="row">
            <div class="col order-last text-center">
                <h2>Current Favorite Song</h2>
                <iframe src="https://open.spotify.com/embed/track/3Ed55g8hCz1GmqRTelIPIW" width="300" height="80"
                    frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}