{% extends 'base.html' %}

{% block content %}
<div class="container-fluid sign-up-container" id="signup">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div id="sign-up-card align-items-center" class="card shadow p-3 mb-5 bg-white rounded">
                <h2 class="card-title">Sign Up</h2>
                <hr>
                <div class="card-body">
                    <form class="form-horizontal form" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field }}
                            {% for error in field.errors %}
                            <p class="error-message">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}

{% block footer %}
<!-- Mute the footer -->
{% endblock %}