{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="card-deck justify-content-center vertical-deck">
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h1 class="page-title">Projects</h1>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-4 w-100">
                <a class="card-info" href="https://github.com/cernerae/Cernera.me">
                    <div class="card main-card p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <img id="my-website" src="{%  static "projects/img/me_icon.png" %}"
                                 alt="Me Icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <p class="project-description">The repository for my personal website (the one you're on right now!)
                It's written in Django 2.1, HTML5, CSS3, with a jQuery function or two thrown in there.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a class="card-info" href="">
                    <div class="card main-card p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <img id="scrubber" src="{%  static "projects/img/scrubber_icon.png" %}"
                                 alt="Scrubber Icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <p class="project-description">Search a text file for IP addresses, search them to get
                their geographic location, and visualize the results.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row w-100">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a class="card-info" href="">
                    <div class="card main-card p-3 mb-5 bg-white rounded">
                        <div class="card-body">
                            <img id="crawler img-wrap" src="{%  static "projects/img/crawler_icon.jpg" %}"
                                 alt="Crawler Icon">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <p class="project-description">Crawl an Amazon product page to get all reviews and perform basic NLP analysis.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
{% endblock %}