{% load static %}
<div class="card-deck justify-content-center top-row horizontal-deck">
    <div class="row w-100 card-row">
        <div class="col-md-4 w-100">
            <a class="card-info" href="/about/">
                <div class="card main-card p-3 mb-5 bg-white rounded" id="me-card">
                    <div class="card-body">
                        <img id="glasses" src="{%  static 'personal/img/glasses_icon.svg' %}" alt="Glasses Icon">
                    </div>
                    <div class="overlay">
                        <div class="card-hover-text">Me</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 w-100">
            <a class="card-info" href="/projects/">
                <div class="card main-card p-3 mb-5 bg-white rounded" id="projects-card">
                    <div class="card-body">
                        <img id="computer" src="{%  static 'personal/img/computer_icon.svg' %}" alt="Computer Icon">
                    </div>
                    <div class="overlay">
                        <div class="card-hover-text">Projects</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 w-100">
            <a class="card-info" href="/blog/">
                <div class="card main-card p-3 mb-5 bg-white rounded" id="blog-card">
                    <div class="card-body">
                        <img id="keyboard" src="{%  static 'personal/img/keyboard_icon.png' %}" alt="Keyboard Icon">
                    </div>
                    <div class="overlay">
                        <div class="card-hover-text">Blog</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!--
<div class="card-deck justify-content-center bottom-row horizontal-deck">
    <div class="row w-100 card-row">
        <div class="col-md-4 w-100">
            <a class="card-info" href="https://github.com/cernerae">
                <div class="card main-card p-3 mb-5 bg-white rounded" id="github-card">
                    <div class="card-body">
                        <img id="github img-wrap" src="{%  static 'personal/img/github_icon.png' %}" alt="GitHub Icon">
                    </div>
                    <div class="overlay">
                        <div class="card-hover-text">GitHub</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 w-100">
            <a class="card-info" href="https://www.linkedin.com/in/edwardcernera">
                <div class="card main-card p-3 mb-5 bg-white rounded" id="hobby-card">
                    <div class="card-body">
                        <img id="linkedin" src="{%  static 'personal/img/linkedin_icon.png' %}" alt="LinkedIn Icon">
                    </div>
                    <div class="overlay">
                        <div class="card-hover-text">LinkedIn</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4 w-100">
            <a class="card-info" href="/signup/">
                <div class="card main-card p-3 mb-5 bg-white rounded" id="person-card">
                    <div class="card-body">
                        <img id="person" src="{%  static 'personal/img/person_icon.jpg' %}" alt="Signup Icon">
                    </div>
                    <div class="overlay">
                        <div class="card-hover-text">Sign Up</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
-->