{% load static %}
<div class="my-cards vertical-center">
    <div class="row">
        <div class="col-md-4">
            <a href="/about/">
                <div class="card" id="me-card">
                    <div class="card-body">
                        <img id="glasses" src="{%  static "personal/img/glasses_icon.svg" %}"
                             alt="Glasses Icon">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/projects/">
                <div class="card" id="projects-card">
                    <div class="card-body">
                        <img id="computer" src="{%  static "personal/img/computer_icon.svg" %}"
                             alt="Computer Icon">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/blog/">
                <div class="card" id="blog-card">
                    <div class="card-body">
                        <img id="keyboard" src="{%  static "personal/img/keyboard_icon.png" %}"
                             alt="Keyboard Icon">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="col-md-4">
            <a href="https://github.com/cernerae">
                <div class="card" id="github-card">
                    <div class="card-body">
                        <img id="github" src="{%  static "personal/img/github_icon.png" %}"
                             alt="GitHub Icon">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/hobbies/">
                <div class="card" id="hobby-card">
                    <div class="card-body">
                        <img id="hobbies" src="{%  static "personal/img/hobby_icon.png" %}"
                             alt="Hobbies Icon">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/signup/">
                <div class="card" id="person-card">
                    <div class="card-body">
                        <img id="person" src="{%  static "personal/img/person_icon.jpg" %}"
                             alt="Signup Icon">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>