<!-- Footer -->
<footer>
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edward Cernera</h5>
              <p>Python Data Engineer</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Info</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Resume</a>
                </li>
                <li>
                  <a href="#!">About Me</a>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Projects</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="https://github.com/cernerae/Cernera.me">cernera.me</a>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <i class="fas fa-ghost fa-10x my-ghost"></i>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</footer>
<!-- Footer -->