<!-- Footer Links -->
<div class="container text-center text-md-left">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-4 mx-auto">
      <!-- Content -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Edward Cernera</h5>
      <p>Python Data Engineer</p>
    </div>
    <!-- Grid column -->
    <hr class="clearfix w-100 d-md-none">
    <!-- Grid column -->
    <div class="col-md-2 mx-auto">
      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Info</h5>
      <ul class="list-unstyled">
        <li>
          <a href="https://www.linkedin.com/in/edwardcernera">LinkedIn</a>
        </li>
        <li>
          <a href="https://github.com/cernerae">GitHub</a>
        </li>
      </ul>
    </div>
    <!-- Grid column -->
    <hr class="clearfix w-100 d-md-none">
    <!-- Grid column -->
    <div class="col-md-2 mx-auto">
      <!-- Links -->
      <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Projects</h5>
      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/cernerae/Cernera.me">cernera.me</a>
        </li>
        <li>
          <a href="https://github.com/cernerae/autonomousfriend_code">autonomousfriend</a>
        </li>
      </ul>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
<!-- Footer Links -->